BODY {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

#header DIV.title, DIV.item H3, DIV.item H4 {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

#header {
    background-color: #ff6a00;
    border-bottom: 2px solid #111;
    color: White;
}

    #header DIV.title {
        font-size: 2em;
        padding: .6em;
    }

#content {
    border-left: 2px solid gray;
    margin-left: 17em;
    padding: 1em;
}

#menuItems {
    float: left;
    width: 16em;
    padding: .3em;
}

DIV.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

    DIV.item:first-child {
        border-top: none;
        padding-top: 0;
    }

    DIV.item H3 {
        font-size: 1.3em;
        margin: 0 0 .25em 0;
    }

    DIV.item H4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

td.container {
    height: 40px;
    width: 40px;
}

input.submitbutton {
    width: 19em;
    height: 2.5em;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

    input.submitbutton:hover {
        background: gray;
    }

    input.submitbutton:active {
        background: orange;
    }

.link {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    text-decoration: none;
    color: Black;
}

.link:hover {
    opacity: 0.5;
}


#menuItems a {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
}

#menuItems a.selected {
    background-color: #ff6a00;
    color: White;
}

    #menuItems a:hover {
        background-color: #feae76;
        opacity: 1;
    }

#menuItems a.selected:hover {
    background-color: #ff6a00;
}

.editbutton {
    background: url(../Content/Images/edit.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border: none;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    border-bottom: none;
}

.deletebutton {
    background: url(../Content/Images/delete.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border: none;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    border-bottom: none;
}

.cardeletebutton {
    background: url(../Content/Images/delete.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border-bottom: none;
}

    .cardeletebutton:hover {
        opacity: 0.5;
    }
.ordereditbutton {
    background: url(../Content/Images/edit.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border-bottom: none;
}
    .ordereditbutton:hover {
        opacity: 0.5;
    }

.ordersbutton {
    background: url(../Content/Images/orders.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    border-bottom: none;
}

    .ordersbutton:hover {
        opacity: 0.5;
    }

.button {
    height: 1.1em;
    width: 10%;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    background: silver;
}

.button:hover {
        background: gray;
    }

.textbox {
    border: 1px solid #d1c7ac;
    width: 18.4em;
    color: #333333;
    padding: 3px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-family: tahoma, arial, sans-serif;
}

.field-validation-error {
    color: red;
    display: block;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}