@model ServiceStation.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Log In";
}
<div id="content">
    <h1>Log In</h1>
    <p>Please log in to access the administrative area:</p>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <p>User Name:</p>
         @Html.TextBoxFor(m => m.UserName, new { @class = "textbox" })
        <p>Password:</p>
         @Html.PasswordFor(m => m.Password, new { @class = "textbox" })
        <br /><input type="submit" value="Log in" class="submitbutton" />
    }
</div>