@model IEnumerable<ServiceStation.WebUI.Models.CarViewModel>

<table>
    @foreach (var carVM in Model)
    {
        <tr>
            <td>
                @Html.RouteLink($"{carVM.Make.Name} {carVM.Model.Name} {carVM.Car.VIN}", new
                {
                    controller = "Order",
                    action = "OrderList",
                    carId = carVM.Car.Id,
                    clientId = carVM.Car.ClientId
                },
                new
                {
                    @class = carVM.Car.Id.ToString() == ViewBag.SelectedCar ? "selected" : null
                })
            </td>
        </tr>
    }
</table>
